* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a91da;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.links a {
    color: #1da1f2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
